@font-face {
    font-family: Inter;
    src: url(../fonts/inter/Inter-Regular.woff);
}

@font-face {
    font-family: Inter;
    src: url(../fonts/inter/Inter-Italic.woff);
    font-style: italic;
}

@font-face {
    font-family: Inter;
    src: url(../fonts/inter/Inter-SemiBold.woff);
    font-weight: 600;
}

@font-face {
    font-family: Inter;
    src: url(../fonts/inter/Inter-Bold.woff);
    font-weight: bold;
}

@font-face {
    font-family: Inter;
    src: url(../fonts/inter/Inter-BoldItalic);
    font-weight: bold;
    font-style: italic;
}

/* Open Sans, via https://github.com/sorenson/open-sans-woff */

/* BEGIN Light */
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/open-sans/Light/OpenSans-Light.woff2?v=1.1.0") format("woff2"), url("../fonts/Light/OpenSans-Light.woff?v=1.1.0") format("woff");
  font-weight: 300;
  font-style: normal;
}
/* END Light */
/* BEGIN Light Italic */
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/open-sans/LightItalic/OpenSans-LightItalic.woff2?v=1.1.0") format("woff2"), url("../fonts/LightItalic/OpenSans-LightItalic.woff?v=1.1.0") format("woff");
  font-weight: 300;
  font-style: italic;
}
/* END Light Italic */
/* BEGIN Regular */
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/open-sans/Regular/OpenSans-Regular.woff2?v=1.1.0") format("woff2"), url("../fonts/Regular/OpenSans-Regular.woff?v=1.1.0") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* END Regular */
/* BEGIN Italic */
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/open-sans/Italic/OpenSans-Italic.woff2?v=1.1.0") format("woff2"), url("../fonts/Italic/OpenSans-Italic.woff?v=1.1.0") format("woff");
  font-weight: normal;
  font-style: italic;
}
/* END Italic */
/* BEGIN Semibold */
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/open-sans/Semibold/OpenSans-Semibold.woff2?v=1.1.0") format("woff2"), url("../fonts/Semibold/OpenSans-Semibold.woff?v=1.1.0") format("woff");
  font-weight: 600;
  font-style: normal;
}
/* END Semibold */
/* BEGIN Semibold Italic */
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/open-sans/SemiboldItalic/OpenSans-SemiboldItalic.woff2?v=1.1.0") format("woff2"), url("../fonts/SemiboldItalic/OpenSans-SemiboldItalic.woff?v=1.1.0") format("woff");
  font-weight: 600;
  font-style: italic;
}
/* END Semibold Italic */
/* BEGIN Bold */
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/open-sans/Bold/OpenSans-Bold.woff2?v=1.1.0") format("woff2"), url("../fonts/Bold/OpenSans-Bold.woff?v=1.1.0") format("woff");
  font-weight: bold;
  font-style: normal;
}
/* END Bold */
/* BEGIN Bold Italic */
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/open-sans/BoldItalic/OpenSans-BoldItalic.woff2?v=1.1.0") format("woff2"), url("../fonts/BoldItalic/OpenSans-BoldItalic.woff?v=1.1.0") format("woff");
  font-weight: bold;
  font-style: italic;
}
/* END Bold Italic */
/* BEGIN Extrabold */
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/open-sans/ExtraBold/OpenSans-ExtraBold.woff2?v=1.1.0") format("woff2"), url("../fonts/ExtraBold/OpenSans-ExtraBold.woff?v=1.1.0") format("woff");
  font-weight: 800;
  font-style: normal;
}
/* END Extrabold */
/* BEGIN Extrabold Italic */
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/open-sans/ExtraBoldItalic/OpenSans-ExtraBoldItalic.woff2?v=1.1.0") format("woff2"), url("../fonts/ExtraBoldItalic/OpenSans-ExtraBoldItalic.woff?v=1.1.0") format("woff");
  font-weight: 800;
  font-style: italic;
}
/* END Extrabold Italic */

.align-right {
    text-align: right;
}

.align-left {
    text-align: left;
}

.vh-93 {
    min-height: 93vh;
}

.w-35 {
    width: 35%;
}

.dashboard-gadget {
}

.dashboard-line {
}

.dashboard-line {
}

.modebar {
    display: none !important;
}

* {
    font-family: 'Open Sans', sans-serif;
}

body {
    background: #F4FAFD;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Inter;
}

.main-content {
}

header .navbar {
    height: 70px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 6px 20px #2C9CD61A;
    opacity: 1;
}

header .logo img {
    height: 30px;
}

header .buttons {
    color: #2C9CD6;
}

span.buttons {
    cursor: pointer;
}

span.buttons i {
    margin-left: 0.5rem;
}

.time-interval {
    margin: 0.6rem 0 0.3rem 0;
}

#time-interval-field {
    font: Bold 12px/16px Open Sans;
    letter-spacing: 0px;
    color: #2C9CD6;    
}

#time-interval-field span {
    text-align: center;
}

div#time-interval-field {
    background: #2C9CD60D 0% 0% no-repeat padding-box;
    border: 1px solid #2C9CD633;
    border-radius: 20px;
}

.time-interval label {
    text-align: right;
    font: 12px/16px Open Sans;
    letter-spacing: 0px;
    color: #20232
}

footer {
    padding: 0.5rem 0;
    margin-top: 1rem;
}

footer, footer a, footer a:hover {
    background: #426475 0% 0% no-repeat padding-box;
    font: 12px/15px Open Sans;
    letter-spacing: 0px;
    color: #FFFFFF;
}

footer a {
    text-decoration: none;
}

footer p {
    margin: 0;
}

h5.row-title {
    font-size: 18px;
    font-weight: bold;
}

.main-content .card {
    border-radius: 0;
    border: none;
}

.card .card-title {
    font: 12px/20px Inter;
    letter-spacing: 0px;
    color: #202324;
    font-weight: bold;
}

.main-content .card-header {
    background: none;
    border: none;
}

.card-header
, .nav-tabs .nav-link {
    font-size: 15px;
    font-weight: bold;
    font-family: Inter;
    color: #202324;
}

.nav-tabs .nav-link {
    color: #1D8CAF;
}

.main-content .nav-tabs .nav-item.show .nav-link
, .main-content  .nav-tabs .nav-link.active
, .main-content .nav-tabs .nav-link:focus
, .main-content .nav-tabs .nav-link:hover {
        border-radius: 27px;
}

.main-content .nav-tabs .nav-item.show .nav-link
, .main-content  .nav-tabs .nav-link.active {
    color: #fff;
    background: #1D8CAF 0% 0% no-repeat padding-box;
    border: none;
}

.main-content .nav-tabs .nav-link:focus
, .main-content .nav-tabs .nav-link:hover {
    border: 1px solid #95CDEA;
}

.main-content .card-body {
    padding: 0 0.2rem 0.2rem 0.2rem;
}

.insights .card-block {
    padding: 1rem 1rem 1.5rem 0.5rem;
}

.insights .card-title {
    margin: 0 0 0.3rem 0;
    font: 15px/25px Inter;
}

.insights .card-text {
    font: 12px/18px 'Open Sans', sans-serif;
}

.insights .gradient-bg {
    background: rgb(0,212,255);
    background: linear-gradient(342deg, rgba(0,212,255,1) 18%, rgba(42,149,214,1) 100%);
    background-clip: content-box;
}

.modal-dialog .modal-content {
    border-radius: 0;
}

.panel-default {
    border-color: #ddd;
}
.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.panel-body {
    padding: 15px;
}

.panel-page .panel-body h1, 
.panel-page .panel-body h2, 
.panel-page .panel-body h3, 
.panel-page .panel-body h4 {
    color: #202324;
}

.panel-page .panel-body h2 {
    font-size: 22px;
    font-weight: bold;
}

.panel-page p {
    font-size: 14px;
    color: #202324;
}

.panel-page .panel-body h4 {
    margin-bottom: 1rem;
}

.panel-page .panel:first-child {
    box-shadow: 0px 1px 30px #0000001A;
}

.panel-page .panel-body h4 {
    font-size: 14px;
    font-weight: bold;
}

.panel-page .panel-body {
    padding: 15px 15%;
}

.panel-page .logo {
        margin: 1.5rem 0 2.5rem 0;
}

.panel .form-control {
    background-color: #F5F7F7;
    border: 1px solid #EBEBEB;
    border-radius: 0.25rem;
    margin: 0.4rem 0;
}

.panel-page .field-group {
    margin: 2rem 0;
}

.panel .form-control,
.panel .form-check-label {
    font-size: 14px;
    color: #909192;
}

form #register {
    margin-top: 1.5em;
}

.panel .form-control::placeholder {
    font-size: 14px;
    color: #909192;
}

.panel-page footer,
.panel-page footer a, 
.panel-page footer a:hover {
    background-color: inherit;
    text-align: center;
    color: #202324;
    font-weight: bold;
    font-size: 12px;
}

.panel-page footer a:hover {
    text-decoration: underline;
}

.btn-primary {
    background-color: #2C9CD6;
    border-radius: 0.25rem;
    border: none;
    font-size: 13px;
    font-weight: bold;
}

.btn-group-sm>.btn, .btn-sm {
    line-height: 2;
}

.panel-page footer .bi-heart-fill path {
    color: #FFDC00;
}

body.panel-page {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../img/login-gradient-bg.svg');
    background-color: #F7F8F9;
}

.input-group-addon {
    padding: 0 .5rem;
    margin-bottom: 0;
    line-height: 1.25;
    text-align: center;
    background-color: #F7F8F9;
    border: 1px solid #EBEBEB;
    border-left-style: solid;
    border-left-width: 1px;
    border-radius: .25rem;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.input-group-addon .fa {
    font-size: 1rem;
    color: #838685;
}

input-group-addon a {
}

.input-group .form-control:not(:first-child), .input-group-addon:not(:first-child), .input-group-btn:not(:first-child) > .btn, .input-group-btn:not(:first-child) > .btn-group > .btn, .input-group-btn:not(:first-child) > .dropdown-toggle, .input-group-btn:not(:last-child) > .btn-group:not(:first-child) > .btn, .input-group-btn:not(:last-child) > .btn:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.input-group > .custom-select:not(:first-child), .input-group > .form-control:not(:first-child) {
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    border-right: 0;
}

.input-group-addon, .input-group-btn {
    white-space: nowrap;
    vertical-align: middle;
}

.input-group .form-control, .input-group-addon, .input-group-btn {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

#show_hide_password {
    margin: 0.4rem 0;
}

#show_hide_password input {
    margin: 0;
}

.form-check {
    display: flex;
    align-items: center;
    margin: 0.8rem 0 0.8rem 0.1rem;
}
.form-check-input {
    margin-top: 0px;
}

.input-group-append, .input-group-prepend {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.input-group-append .btn {
    background-color: #DBDBDB;
    border: 1px solid #EBEBEB;
    margin-left: -1px;
    padding: .1rem .6rem;
}

.input-group > .input-group-append > .btn, .input-group > .input-group-append > .input-group-text, .input-group > .input-group-prepend:first-child > .btn:not(:first-child), .input-group > .input-group-prepend:first-child > .input-group-text:not(:first-child), .input-group > .input-group-prepend:not(:first-child) > .btn, .input-group > .input-group-prepend:not(:first-child) > .input-group-text {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.input-group-append .btn, .input-group-prepend .btn {
    position: relative;
    z-index: 2;
}

.form-control.custom-select {
    margin: 0;
    background-color: #E6E7E7;
    color: #202324;
}

.input-group-append .btn {
    line-height: 1.25;
}

.form-group #submit {
    margin-top: 0.2rem;
}

.form-group small a {
    color: inherit;
}
